<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Director</th>
      <th>Genre</th>
      <th>Duration</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each compilation.movies}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{director}}
        </td>
        <td>
          {{genre}}
        </td>
        <td>
          {{duration}}
        </td>
        <td>
         <a href="/compilation/{{../compilation.id}}/deletemovie/{{id}}" class="ui icon button">
  <i class="icon trash"></i>
</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<p>
  <span id="rating"> </span>
</p>

<button class="ui blue button" onclick="getRating()">
  Rate it! <i class="star icon"></i>
</button>