<div class="ui card" id ="{{name}}">
  <div class="image">
    <img src="{{image}}">
  </div>
  <div class="content">
    <a class="header">{{fullname}}</a>
    <div class="meta">
      <span class="date">Joined in {{joined}}</span>
    </div>
    <div class="description">
      {{name}} is an {{job}} studying {{course}}
    </div>
    <div class="extra conntent">
      <a>
        {{university}}
      </a>
  </div>
</div>
</div>